### **Tules**

- A tuple is an ordered, immutable (unchangeable) collection of items in Python.

**Creating Tuples**

**1. Using parentheses ()**

In [1]:
# Example 1: tuple with multiple items
fruits = ("apple", "banana", "cherry")
print(fruits)  # ('apple', 'banana', 'cherry')

('apple', 'banana', 'cherry')

**2. Without parentheses (tuple packing)**

In [2]:
numbers = 1, 2, 3
print(numbers)  # (1, 2, 3)

(1, 2, 3)

**3. Single-item tuple (must include a comma)**

In [4]:
single_item = ("apple",)
print(single_item)       # ('apple',)
print(type(single_item)) # <class 'tuple'>

('apple',)
<class 'tuple'>

**4. Using the tuple() constructor**

In [5]:
fruits_list = ["apple", "banana", "cherry"]
fruits_tuple = tuple(fruits_list)
print(fruits_tuple)  # ('apple', 'banana', 'cherry')

('apple', 'banana', 'cherry')

**Characteristics of Tuples**

1. Ordered – Items have a fixed position.

2. Immutable – Cannot change after creation.

3. Allow duplicates – Same value can appear multiple times.

4. Can contain mixed data types – Strings, integers, lists, etc.

5. Can be nested – Tuples inside tuples.

In [6]:
# Ordered
colors = ("red", "green", "blue")
print(colors[0])  # red

red

In [9]:

# Immutable ( uncomment and run. This will cause an error)
colors[1] = "yellow"  #  TypeError

TypeError: 'tuple' object does not support item assignment

In [10]:
# Allow duplicates
numbers = (1, 2, 2, 3)
print(numbers)  # (1, 2, 2, 3)

(1, 2, 2, 3)

In [11]:
# Mixed data types
mixed = ("apple", 3, True, 5.6)
print(mixed)  # ('apple', 3, True, 5.6)

('apple', 3, True, 5.6)

In [13]:
# Nested tuples
nested = (("a", "b"), (1, 2))
print(nested)  # (('a', 'b'), (1, 2))
print(nested[0])  # ('a', 'b')

(('a', 'b'), (1, 2))
('a', 'b')

**Tuple Operations**
- Even though tuples are immutable, you can still perform several operations

In [14]:
# 1. Indexing

fruits = ("apple", "banana", "cherry")
print(fruits[1])   # banana
print(fruits[-1])  # cherry

banana
cherry

In [16]:
# 2. Slicing

print(fruits[0:2])   # ('apple', 'banana')
print(fruits[::-1])  # ('cherry', 'banana', 'apple')

('apple', 'banana')
('cherry', 'banana', 'apple')

In [17]:
# 3. Concatenation
tuple1 = (1, 2)
tuple2 = (3, 4)
result = tuple1 + tuple2
print(result)  # (1, 2, 3, 4)

(1, 2, 3, 4)

In [18]:
# 4. Repetition
nums = (1, 2)
print(nums * 3)  # (1, 2, 1, 2, 1, 2)

(1, 2, 1, 2, 1, 2)

In [19]:
# 5. Membership

fruits = ("apple", "banana", "cherry")
print("banana" in fruits)  # True
print("grape" not in fruits)  # True

True
True

In [20]:
# 6. Iteration
for fruit in fruits:
    print(fruit)

apple
banana
cherry

**Working with Tuples**

- You can’t modify a tuple directly, but you can

   - Convert it to a list, modify it, then convert back.

   - Use built-in functions to work with tuple contents.

# 1. Unpacking Tuples
person = ("John", 25, "Nigeria")
name, age, country = person
print(name)     # John
print(age)      # 25
print(country)  # Nigeria

**Tuple Methods**
 - Tuples have only two methods.

In [21]:
# dont count() and dot index()

numbers = (1, 2, 2, 3, 4)

print(numbers.count(2))  # 2  (counts occurrences of 2)
print(numbers.index(3))  # 3  (position of first occurrence of 3)

2
3

**Converting Between List and Tuple**

In [22]:
# Tuple to List
t = (1, 2, 3)
lst = list(t)
lst.append(4)
print(lst)  # [1, 2, 3, 4]

[1, 2, 3, 4]

In [23]:
# List back to Tuple
t = tuple(lst)
print(t)  # (1, 2, 3, 4)

(1, 2, 3, 4)

**Built-in Functions with Tuples**

In [24]:
nums = (4, 1, 7, 3)

print(len(nums))   # 4
print(max(nums))   # 7
print(min(nums))   # 1
print(sum(nums))   # 15

4
7
1
15